* {
    font-family: Georgia, sans-serif;
    font-size: xx-large;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("assets/images/background.jpg");
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: top center;
}

.section {
    padding-top: 100px;
    max-width: 1200px;
    margin: 0 auto; /* auto might be best fit */
}

.right-image {
    float: right;
    width: 400px;
    height: auto;
    max-width: 40%;
    margin: 0 20px 10px 20px;
}

.left-image {
    float: left;
    width: 400px;
    height: auto;
    max-width: 40%;
    margin: 0 20px 10px 20px;
}

.gif {
    margin-top: 100px;
    clear: right;
}

.text-box-left,
.text-box-right {
    border: 6px solid red;
    background-color: rgba(255, 255, 255, 1);
    padding: 18px;
    margin-top: 100px;
    display: flow-root;
}

.text-box-left{
    margin-left: 20px;
}
.text-box-right {
    margin-right: 20px;
}

#first-text {
    margin-top: 300px;
}

#last-text {
    margin-bottom: 300px;
}

p {
    line-height: 1.6;
    margin: 0;
}

h2 {
    text-align: center;
}