* {
    font-family: Georgia, sans-serif;
    font-size: xx-large;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("assets/images/background.jpg");
    background-repeat: repeat;background-size: cover;
    background-position: top left;
}

.section {
    padding-top: 100px;
    max-width: 1200px;
    margin: auto;
}

.right-image {
    float: right;
    width: 400px;
    height: auto;
    max-width: 40%;
    margin: 0 20px 10px 20px;
}

.text-box {
    border: 5px solid red;
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;
    margin-top: 300px;
    display: flow-root;
}

p {
    line-height: 1.6;
    margin: 0;
}